{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
    {{ title }}
{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-sm-6 p-1">
                <div class="card border-secondary" style="height: 100%">
                    <div class="card-img-overlay flex-row d-flex">
                        {% if magazine.new == true %}
                            <h5 class="mr-auto fa-2x new-style"><span class="fa fa-star"></span> Nowość</h5>
                        {% endif %}
                        {% if magazine.sale > 0 %}
                            <h5 class="ml-auto fa-2x sale-style">-{{ magazine.sale }} <span class="fa fa-percent"></span></h5>
                        {% endif %}
                    </div>
                    <img class="card-img text-center" src="data:image/jpeg;base64,{{ image }}" alt="{{ magazine.product.name }}">
                </div>
            </div>
            <div class="col-sm-6 p-1">
                <div class="card border-secondary" style="height: 100%">
                    <div class="card-body">
                        <h5 class="card-title fa-2x">{{ magazine.product.name }} - {{ magazine.color.name }} </h5>
                        <p class="card-subtitle text-muted">{{ magazine.product.type.name }}</p>
                        <p class="card-subtitle">{{ magazine.product.description }}</p>
                        <div class="card-text">
                            {% if magazine.sale > 0 %}
                                <b class="fa-3x sale-style">{{ ((100 - magazine.sale) * magazine.product.price / 100)|round }} zł</b>
                                <s>{{ magazine.product.price }}</s>
                            {% else %}
                                <b class="card-text fa-3x">{{ magazine.product.price }} zł</b>
                            {% endif %}
                        </div>
                        <br>
                        <h5 class="card-title">Dostępne Kolory</h5>

                        <p>
                            {% for magazine in magazines %}
                                <a class="card-link" href="{{ path('app_details', {'id': magazine.id}) }}"><span class="fa fa-square fa-1-5x" style="color: {{ magazine.color.code }}"></span></a>
                            {% endfor %}
                        </p>
                        <h5 class="card-title">Wybierz Rozmiar</h5>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons" style="width: 100%">
                            {% if magazine.unisize == true %}
                                <label class="btn btn-outline-info" {% if magazine.xs > 0 %} disabled {% endif %} style="width: 100%">
                                    <input type="checkbox" id="unisize" autocomplete="off">Unisize: {{ magazine.unisize }}
                                </label>
                            {% else %}
                                <label class="btn btn-outline-info" style="width: 100%">
                                    <input type="radio" name="options" id="xs" autocomplete="off" {% if magazine.xs == 0 %} disabled {% endif %}>XS: {{ magazine.xs }}
                                </label>
                                <label class="btn btn-outline-info" style="width: 100%">
                                    <input type="radio" name="options" id="s" autocomplete="off" {% if magazine.s == 0 %} disabled {% endif %}>S: {{ magazine.s }}
                                </label>
                                <label class="btn btn-outline-info" style="width: 100%">
                                    <input type="radio" name="options" id="m" autocomplete="off" {% if magazine.m == 0 %} disabled {% endif %}>M: {{ magazine.m }}
                                </label>
                                <label class="btn btn-outline-info" style="width: 100%">
                                    <input type="radio" name="options" id="l" autocomplete="off" {% if magazine.l == 0 %} disabled {% endif %}>L: {{ magazine.l }}
                                </label>
                                <label class="btn btn-outline-info" style="width: 100%">
                                    <input type="radio" name="options" id="xl" autocomplete="off" {% if magazine.xl == 0 %} disabled {% endif %}>XL: {{ magazine.xl }}
                                </label>
                            {% endif %}
                        </div>
                        <a href="#" class="btn btn-info card-link mt-2" style="width: 100%"><span class="fa fa-cart-plus"></span> Do Koszyka</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}